<footer class="footer py-4 mt-5">
  <div class="container text-center">
    <p class="mb-2">© 2026 Tan Zhi Shan. All rights reserved.</p>
    <div class="social-links mb-2">
      <a href="https://github.com/shann206" target="_blank" class="text-light mx-2">
        <i class="bi bi-github"></i> GitHub
      </a>
      <a href="mailto:24035177@myrp.edu.sg" class="text-light mx-2">
        <i class="bi bi-envelope"></i> Email
      </a>
</footer>