<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Project 2</title>
</head>

<body>
    <%- include('partials/navbar') %>

        <section class="container mt-4 pt-5" style="padding-top: 80px;">
            <h2 class="text-center">VR Escape Room</h2>
            <p class="text-center">This project is a fully developed VR Escape Room built based on my own Game Design Document (GDD). The
                experience contains four handcrafted puzzle rooms designed with natural VR interactions such as
                grabbing, pouring, lighting, and exploring.</p>
                <br>
            <img src="/images/escapeRoom.png" alt="My Photo" class="img-fluid d-block mx-auto my-3">

            <p>This project is a VR escape room built in Unity, featuring a minimalistic room with handcrafted wooden
                furniture and four interactive puzzles. Players navigate a 3D environment, manipulate objects, and solve
                challenges to escape. The app includes immersive VR interactions and puzzle logic implemented with Unity
                scripts. This project strengthened my skills in 3D environment design, player interaction mechanics, and
                Unity scripting.</p>
            <p>This project showcases my ability to take a game from initial concept → documentation → full VR
                implementation. It demonstrates my skills in VR interaction programming, puzzle design, environment
                creation, and project planning.</p>
            <p>Game Loop:</p>
            <ul>
                <li>Library: Magical book riddles</li>
                <li>Water Chamber: Floating key water puzzle</li>
                <li>Candle Room (Part 1): Finding the correct stick to light fire</li>
                <li>Candle Room (Part 2): Light candles in the correct order</li>
            </ul>

        </section>
</body>

</html>